@keyframes show-op {from{opacity:0;}}
@keyframes hide-op {to{opacity:0;}}
@keyframes show-sc {from{transform:scale(0);}}
@keyframes hide-sc {to{transform:scale(0);}}
@keyframes rot {to{transform:rotate(360deg);}}
@keyframes dash {50%{stroke-dasharray:89,200;stroke-dashoffset:-35;}to{stroke-dasharray:89,200;stroke-dashoffset:-100;}}
@keyframes show {from{opacity:0;transform:translateY(16px);}}
@keyframes bounc {5%{transform: translateY(0px);}50%{transform: translateY(32px);}95%{transform: translateY(0px);}}
* {box-sizing: border-box;}
body {
	position: relative;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 1000px;
	background: #404040;
	color: #FFF;
}
#loadbg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	opacity: 0.5;
}
#loadbg.showing {animation: show-op 0.5s;}
#loadbg.hiding {animation: hide-op 0.5s;}
#loadbg.hidden {display: none;}
#load-dot1, #load-dot2, #load-dot3 {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 2px;
	background: #FFF;
	animation: bounc 1s cubic-bezier(0.65, 0.1, 0.35, 0.9) infinite;
}
#load-dot2 {
	animation-delay: 0.1s;
}
#load-dot3 {
	animation-delay: 0.2s;
}
#loadcircle {
	position: fixed;
	top: 98px;
	left: 50%;
	margin: -28px;
	width: 56px;
	height: 56px;
	padding: 4px 0;
	border-radius: 4px;
	z-index: 10;
	background: #181818;
	text-align: center;
}
#loadcircle.showing {animation: show-sc 0.5s;}
#loadcircle.hiding {animation: hide-sc 0.5s;}
#loadcircle.hidden {transform: scale(0);}
#loadcircle.hidden * {animation: none;}
#loadbar {
	position: fixed; top: 0; right: 100%; width: 100%; height: 4px; z-index: 10;
}
header {
	color: #FFF; overflow: hidden;
}
#nav-bg {
	z-index: 1; box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
#nav-bg, header nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
}
header nav {
	z-index: 3; text-align: right;
}
header nav ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	padding: 4px 8px;
	line-height: 32px;
	height: 40px;
}
#more {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
header nav ul li a, #more {
	cursor: pointer;
}
header nav ul li a:hover, #more:hover {
	border-bottom: 4px solid #808080;
}
header h1 {
	position: relative;
	z-index: 2;
	margin: 0;
	font-size: 60px;
	font-weight: normal;
	padding: 48px 8px 0 8px;
	line-height: 50px;
}
main {
	padding: 8px;
}
main article {
	animation: show 0.4s;
}
main article table {width: 100%;}
footer {
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
a {
	color: #B0D060;
}
a:not(:hover) {
	text-decoration: none;
}
.hoverable {
	position: relative;
}
.hoverable:before {
	content: attr(data-title);
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	right: 50%;
	margin: 4px -16px 0 -16px;
	background: #000;
	text-align: center;
	width: 32px;
	line-height: 32px;
	height: 32px;
}
.hoverable:after {
	display: none;
	content: '';
	position: absolute;
	bottom: -4px;
	left: 50%;
	right: 50%;
	margin: 0 -4px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top: none;
	border-bottom-color: #000;
}
.hoverable:hover:before {
	display: block;
}
.hoverable:hover:after {
	display: block;
}
table {
	border-spacing: 6px;
}
main table {
	width: 100%;
}
table th, table td {
	padding: 4px;
}
table th {
	box-shadow: -2px -2px #202020, 2px 2px #202020;
}
table td {
	box-shadow: -2px -2px #303030, 2px 2px #303030;
}
table h3 {
	margin: 0;
	padding: 6px 0;
}
/* BACKGROUND */
#loadbg, #nav-bg, header h1, footer {
	background: radial-gradient(circle at 0px 0px, rgba(0,0,0,1) 1px, rgba(0,0,0,0) 1px) #202020;
	background-size: 4px 4px;
	background-repeat: repeat;
	background-attachment: fixed;
}