@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: theme('colors.teal.100');
  --bg-hover: theme('colors.teal.300');
  --bg-active: theme('colors.teal.400');
  --fg: theme('colors.teal.800');
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: theme('colors.teal.900');
    --bg-hover: theme('colors.teal.700');
    --bg-active: theme('colors.teal.600');
    --fg: theme('colors.teal.200');
  }
}

#root {
  @apply flex flex-col sheet-1 text-black dark:text-white;
  height: 100vh;
}
#page {
  @apply flex flex-grow flex-col justify-items-stretch;
}

.sheet-0 {
  @apply bg-gray-50 dark:bg-gray-900;
}
.sheet-1 {
  @apply bg-gray-100 dark:bg-gray-800;
}
.sheet-2 {
  @apply bg-gray-200 dark:bg-gray-700;
}

.tinted {
  background: var(--bg);
  color: var(--fg);
}
.tinted:hover {
  background: var(--bg-hover);
}
.tinted:active {
  background: var(--bg-active);
}

.stroked {
  border-color: var(--bg);
}
.stroked:hover {
  border-color: var(--bg-hover);
}
.stroked:active {
  border-color: var(--bg-active);
}

.btn {
  @apply px-2 py-1 rounded;
}
.select {
  @apply dark:bg-gray-900 dark:text-gray-200;
}